<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />

    <script src="public/script.js" defer></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="heading">Agnus' Exercise Tracker</h1>
        <img
          class="green-img"
          src="https://cdn.pixabay.com/photo/2017/12/10/03/38/dragon-3009174_960_720.png"
          alt="Green Scaled Dragon"
        />
        <p class="green-desc">
          Hello there. I am Agnus from the beautiful forests of Minnesota. I
          believe exercise is essential to a healthy life, don't you?
        </p>
      </header>
      <h2 class="subtitle">Start living healthy!</h2>
      <div class="exercise-tracker">
        <form action="/api/users" method="post">
          <h3 class="tertiary-heading">Create a New User</h3>
          <!--           <p><code>POST /api/users</code></p> -->
          <input
            id="uname"
            type="text"
            name="username"
            placeholder="username"
          />
          <input type="submit" value="Submit" id="id-submit" />
        </form>
        <form id="exercise-form" method="post">
          <h3 class="tertiary-heading">Add exercises</h3>
          <!--           <p><code>POST /api/users/:_id/exercises</code></p> -->
          <input id="uid" type="text" name=":_id" placeholder=":_id" />
          <input
            id="desc"
            type="text"
            name="description"
            placeholder="description*"
          />
          <input
            id="dur"
            type="text"
            name="duration"
            placeholder="duration* (mins.)"
          />
          <input
            id="dat"
            type="text"
            name="date"
            placeholder="date (yyyy-mm-dd)"
          />
          <input type="submit" value="Submit" id="exercise-submit" />
        </form>
        <form id="log-form" method="get">
          <h3 class="tertiary-heading">Retrieve your logs</h3>
          <!--           <p><code>POST /api/users/:_id/exercises</code></p> -->
          <input id="id" type="text" name=":_id" placeholder=":_id" />
          <input
            id="from"
            type="text"
            name="from"
            placeholder="from (yyyy-mm-dd)"
          />
          <input id="to" type="text" name="to" placeholder="to (yyyy-mm-dd)" />
          <input
            id="limit"
            type="text"
            name="limit"
            placeholder="limit (number)"
          />
          <input type="submit" value="Submit" id="log-submit" />
        </form>
      </div>
      <div class="results">
        <div class="parsed-data">
          <p class="parsed" id="yourUsername">
            Your username
          </p>
          <p class="parsed" id="yourId">
            Your id
          </p>
        </div>
      </div>
      <footer class="footer">
        <p>
          Visit all my friends
          <a
            href="https://rhetorical-radical-animals.glitch.me/"
            target="_blank"
            >here</a
          >!
        </p>
      </footer>
      <!--       <p>
        <strong>GET user's exercise log: </strong>
        <code>GET /api/users/:_id/logs?[&amp;from][&amp;to][&amp;limit]</code>
      </p>
      <p><strong>[ ]</strong> = optional</p>
      <p>
        <strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> =
        number
      </p> -->
    </div>
  </body>
</html>
<!-- 617c9cbe92108100f2953815 -->
